<nav>
    <h1 class="company-logo">Shop <span>Lane</span></h1>
    <div class="nav-items">
        <p>
            <a routerLink="/">Home</a>
        </p>
        <p>
            <a href="">Cart</a>
        </p>
        <p>About us</p>
        <div class="auth-btns">
             <a routerLink="/sign-up" class="btn btn-warning">Signup</a>
             <a routerLink="/login" class="btn btn-outline-success">Login</a>
        </div>
        <div>
            <p>{{userName}}</p>
        </div>
    </div>
</nav>