<form class="authform-section" ngForm #signup="ngForm" (ngSubmit)="onSubmit(signup)">
    <h2 class="text-center mb-3">Signup</h2>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" name="email" placeholder="name@example.com" ngModel #email="ngModel" required email>
        <label for="email">Email address</label>

        <!-- for valiadtions erros starts-->
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger mt-2">
            <small *ngIf="email.errors?.['required']" class="text-sm">Email is required.</small>
            <small *ngIf="email.errors?.['email']" class="text-small">Please enter a valid email address.</small>
        </div>
        <!-- validations ends -->

    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" ngModel #password="ngModel" required minlength="6">
        <label for="password">Password</label>

          <!-- for valiadtions erros starts-->
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger mt-2">
            <small *ngIf="password.errors?.['required']" class="text-sm">Password is required.</small>
            <small *ngIf="password.errors?.['minlength']" class="text-small">Please enter a atleast 6 characters.</small>
        </div>
        <!-- validations ends -->

    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" name="confirmpassword" placeholder="confirm Password" ngModel #cnpassword="ngModel" required minlength="6">
        <label for="password">Confirm password</label>

         <!-- for valiadtions erros starts-->
         <div *ngIf="cnpassword.invalid && (cnpassword.dirty || cnpassword.touched)" class="text-danger mt-2">
            <small *ngIf="cnpassword.errors?.['required']" class="text-sm">Conform Password is required.</small>
            <small *ngIf="cnpassword.errors?.['minlength']" class="text-small">Please enter a atleast 6 characters.</small>
        </div>
        <!-- validations ends -->

    </div>
    <div class="form-floating">
        <input type="tel" class="form-control" name="mobile" placeholder="Mobile" ngModel #mobile="ngModel"  required minlength="10" >
        <label for="mobile">Mobile</label>

                <!-- for valiadtions erros starts-->
                <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="text-danger mt-2">
                    <small *ngIf="mobile.errors?.['required']" class="text-sm">Mobile number is required.</small>
                    <small *ngIf="mobile.errors?.['minlength']" class="text-small">Please enter a valid mobile having 10 numbers</small>
                </div>
                <!-- validations ends -->
    </div>
    <div class="d-flex gap-4 justify-content-center mt-3 mb-3">
        <button type="submit" class="btn btn-success">Signup</button>
        <div class="signup-btns">
            <small>Already user go for</small>
            <button type="button" class="btn btn-outline-warning">Login</button>
        </div>
    </div> 
</form>